@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/dist/css/styles.css" />

<html>
<body>
    <div style="text-align: center; padding-top: 30vh;">
        <h4>Страница не найдена</h4>
        <hr>

        <a href="@Url.Action("Index", "Home")">
            Вернуться на главную
        </a>
    </div>
</body>
</html>
